*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;
	// justify-content: space-evenly;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #ddd;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6rem;
	line-height: 1.44;
	text-align: center;
}

//HEADER

header {
	.logotype {
		font-size: 3rem;
		margin-bottom: 1rem;
		.brand-icon {
			margin-bottom: -2px;
			margin-right: 6px;
			margin-left: 6px;
			height: 2.5rem;
			width: 2.5rem;
		}
	}
	p {
		a,
		a::after,
		a::before {
			transition: color 0.33s, height 0.33s;
		}
		a {
			position: relative;
			text-decoration: none;
			font-weight: bold;
			color: #000;
			z-index: 0;
		}
		a::after {
			content: '';
			position: absolute;
			bottom: -0.2rem;
			left: 0;
			height: 1px;
			width: 100%;
			background-color: #000;
			z-index: -1;
		}
		a:hover {
			color: #fff;
		}
		a:hover::after {
			height: 115%;
		}
	}
}

//NAV 

nav {
	margin: 3rem auto;
	background-color: #fff;
	box-shadow: 0px 5px 10px #00000050;
	ul {
		list-style: none;
		a {
			display: block;
			color: #000;
			text-decoration: none;
			border-bottom: 1px solid #00000050;
		}
		li {
			margin: 1rem;
			padding: 0 2rem;
			height: 80px;
			line-height: 80px;
			background-color: #fff;
			transition: background-color .33s, color .33s;
		}
		li:hover {
			background-color: #000;
			color: #fff;
			cursor: pointer;
		}
	}
}